<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>JournalsLibrary | Welcome</title>
  <meta name="keywords" content="JournalsLibrary, Library, Article, publishing, publication">
  <meta name="description" content="JournalsLibrary.net is a premier online platform for publishing and accessing high-quality research journals across diverse scientific and engineering fields. We provide streamlined submission, peer review, and indexing services to ensure your research reaches a global audience effectively.">
  <meta name="google-site-verification" content="r6561-YyDLo_AtfAsNL6aT7ZxQzPxWslgqVXCfIhHOs" />
  <!-- Favicons -->
  <link href="/assets/img/journalslibrary.net (6).png" rel="icon">
  <link rel="apple-touch-icon" href="assets/img/site_img/20241113_082806.png">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"/>

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet"> 
</head>
<body class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/assets/img/journalslibrary.net (6).png" alt=""> 
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#journals">Journals</a></li>
          <li><a href="/editorialboard">Editorial Board</a></li>
          <li><a href="/submitmanuscripts">Submit Manuscript</a></li>
          <li><a href="/payfee">Pay Fee</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>      
      <a class="btn-getstarted" href="/admin/auth">
        <i class="bi bi-person-circle"></i> Account
      </a>
      
    </div>
  </header>
