<%- include('../partials/header') %>
<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>About us</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="./">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Our Services</h4>
              <div class="services-list">
                <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Article Writing</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Technical Editing</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Research Publication</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Peer Review Management</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Indexing Support</span></a>
              </div>
            </div><!-- End Services List -->
            
            <div class="service-box">
              <h4>Download Copyright and Paperformat</h4>
              <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Copyright</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Paperformat</span></a>
              </div>
            </div><!-- End Services List -->

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Have a Question?</h4>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488 55</span></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">enquire@journalslibrary.net</a></p>
            </div>

          </div>
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/it_service/post-06.jpg" alt="Service Image" class="img-fluid services-img">
            <h3>Quality Solutions Tailored to Your Needs</h3>
            <p>
              Experience service excellence that prioritizes your requirements, leveraging our expertise to deliver impactful results. Our team ensures precision and dedication to every project.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Comprehensive solutions tailored for maximum impact.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Efficient and reliable processes that guarantee results.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Commitment to exceptional quality and client satisfaction.</span></li>
            </ul>
            <p>
              Our services stand out due to meticulous planning and execution, ensuring your goals are met effectively. With our innovative strategies and a client-focused approach, we tackle challenges head-on to deliver optimal outcomes.
            </p>
            <p>
              We handle complex projects with proficiency, navigating challenges while maintaining high standards. Trust in our expertise to manage your tasks seamlessly, and achieve excellence through tailored strategies that cater to your unique needs.
            </p>
          </div>
          

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main> 
<%- include('../partials/footer') %>
